/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* *, *::before, *::after {
  box-sizing: border-box;
} */
img {
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
  color: #3d1101;
}
p {
  font-size: 16px;
  line-height: 1.2em;
}

/* layout */
.container {
  width: 100%;
  background: #2e2e2e;
}
.wrap {
  width: 90%;
  margin: 0 auto;
  background: #efe9e7;
  font-family: 'Noto Sans TC', sans-serif;
  color: #3D1101;
}
@media(max-width: 768px) {
  .wrap {
    width: 100%;
  }
}
.header {
  background: url(../images/header_desktop.png);
  padding-bottom: 145px;
}
@media (max-width: 767px) {
  .header {
    background: url(../images/header_mobile.png);
    padding-top: 90px;
  }
}
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  padding-right: 33px;
  background:  rgba(0, 0, 0, 0.75);
}
@media (max-width: 768px) {
  .top-bar {
    padding-left: 13px;
    padding-right: 0;
  }
}
@media (max-width: 767px) {
  .top-bar {
    background:  rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
  }
}
.logo {
  background: url(../images/logo.svg) no-repeat 50% 50%;
  width: 120px;
  height: 24px;
  padding: 16px 2px;
  overflow: hidden;
  text-indent: 110%;
  white-space: nowrap;
}
.open-menu {
  display: none;
  color: #fff;
  font-size: 25px;
  padding: 4px 6px;
  border-radius: 5px;
  margin-right: 5px;
}
.menu {
  display: flex;
}
.menu li a {
  display: block;
  color: #fff;
  padding: 18px 15px;
}
.menu li a:hover {
  background: #efe9e7;
  color: #000;
}
@media (max-width: 767px) {
  .menu {
    flex-direction: column;
    height: 0;
    overflow: hidden;
    background:  rgba(0, 0, 0, 0.9);
    transition: all 0.5s;
    position: absolute;
    z-index: 100;
    top: 56px;
    left: 0;
    right: 0;
  }
  .show .menu {
    height: 160px;
  }
  .menu a {
    border-top: 1px dotted #fff;
    text-align: center;
  }
  .menu li:last-child a {
    border-bottom: 1px solid #fff;
  }
  .open-menu {
    display: block;
  }
}
.slogan {
  background: rgba(0, 0, 0, 0.35);
  color: #fff;
  text-align: center;
  margin: 0 auto;
  max-width: 460px;
  margin-top: 67px;
  padding-top: 20px;
  padding-bottom: 26px;
}

.slogan-header {
  display: flex;
  justify-content: center;
  font-size: 36px;
  padding-bottom: 16px;
}
@media (max-width: 767px) {
  .slogan {
    margin-top: 0;
  }
  .slogan-header {
    display: block;
  }
}
.slogan h3 {
  line-height: 1.5em;
}
.main {
  padding: 50px 0px;
}
.footer {
  display: flex;
  padding: 0 50px 25px;
}
@media (max-width: 768px) {
  .footer {
    padding: 0 1% 25px;
  }
}
@media (max-width: 767px) {
  .footer {
    flex-direction: column;
    padding-bottom: 50px;
  }
}
.inform {
  width: 30%;
  margin-right: 3%;
}
.inform h3 {
  color: #3d1101;
  font-size: 24px;
  margin-bottom: 16px;
}
.inform p {
  line-height: 1.1em;
}
.inform ul {
  list-style: disc;
  list-style-position: inside;
}
.inform li a {
  color: #3d1101;
  line-height: 1.1em;
}
.inform li a:hover {
  text-decoration: underline;
}
@media (max-width: 767px) {
  .inform {
    margin: 0 auto;
    width: 90%;
    margin-bottom: 30px;
  }

}
.community {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.community h2 {
  font-size: 49px;
  font-weight: 900;
  margin-bottom: 22px;
}
.community ul {
  display: flex;
}
.community a{
  display: block;
  width: 31px;
  margin-left: 12px;
}
@media (max-width: 767px) {
  .community {
    width: 90%;
    margin: 0 auto;
  }
}

/* index.html */
.feature-headline {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}
.feature-headline .line {
  width: 15%;
  height: 1px;
  background: #979797;
}
.feature-headline h3 {
  font-size: 20px;
  line-height: 32px;
  padding: 0px 13px;
}
@media (max-width: 767px) {
  .feature-headline .line {
    display: none;
  }
}
.feature-info {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.feature-info li {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.feature-info li img {
  margin-bottom: 20px;
}
.feature-info li h3 {
  font-size: 18px;
  margin-bottom: 11px;
}
.feature-info li p {
  font-size: 16px;
}
@media (max-width: 768px) {
  .feature-info li {
    width: 30%;
  }
}
@media (max-width: 767px) {
  .feature-info {
    flex-direction: column;
    align-items: center;
  }
  .feature-info li {
    width: 81%;
    margin-bottom: 30px;
  }
}
.theChef {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3d1011;
  color: #fff;
  margin-bottom: 50px;
}
.theChef img {
  width: 43%;
  margin-left: 5%;
}
.chef-info {
  width: 43%;
  margin: 3% 5% 3% 4%;
  color: #efe9e7;
}
.chef-info h3 {
  font-size: 20px;
  line-height: 1.5em;
}
.chef-info h4 {
  margin-bottom: 16px;
}
.chef-info p {
  line-height: 25px;
}
@media (max-width: 767px) {
  .theChef {
    flex-direction: column;
    padding-bottom: 30px;
  }
  .theChef img {
    width: 100%;
    margin-left: 0;
  }
  .chef-info {
    width: 81%;
  }
}
.review {
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 50px;
}
.review h3 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 32px;
}
.review ul {
  display: flex;
  justify-content: space-between;
}
.review ul li {
  display: flex;
  width: 30%;
  align-items: flex-start;
}
@media (max-width: 768px) {
  .review {
    padding-left: 2%;
    padding-right: 2%;
  }
  .review ul li {
    width: 32%;
  }
}
@media (max-width: 767px) {
  .review ul {
    flex-direction: column;
  }
  .review ul li {
    width: 95%;
  }
}
.review-content {
  padding-top: 23px;
  margin-left: 13px;
  line-height: 24px;
}
.review-content h4 {
  font-size: 18px;
  margin-bottom: 22px;
}
.review-content p:last-child {
  text-align: right;
  margin-top: 16px;
}
.booking {
  padding: 50px 4%;
  background: rgba(250, 250, 250, 0.7);
}
.booking h3 {
  text-align: center;
  font-size: 24px;
  line-height: 1.4em;
  margin-bottom: 38px;
}
@media (max-width: 768px) {
  .booking {
    padding-left: 0;
    padding-right: 0;
  }
}
.booking-info {
  display: flex;
  justify-content: space-around;
}
.booking-info iframe {
  width: 46%;
  outline: 1px solid #ccc;
}
.booking-info form {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  width: 46%;
}
.booking-info input {
  width: 100%;
  margin: 6px 0 12px;
  font-size: 16px;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0px 1px 0px 0px #ececec;
  border-radius: 3px;
  padding: 8px;
}
.booking-info input:hover {
  border: 1px solid #57a5ff;  
}
.booking-info input:focus {
  outline: none;
  border: 1.5px solid #57a5ff;
  padding: 7.5px;
}
.booking-info .vegan p {
  font-size: 14px;
}
.booking-info .vegan input {
  width: 16px;
  box-shadow: none;
  margin-right: 36px;
}
.booking-info .vegan input:hover {
  outline: 2px dotted #57a5ff;
}
@media (max-width: 768px) {
  .booking-info iframe {
    width: 48%;
  }
  .booking-info form {
    width: 48%;
  }
  .booking-info form > input {
    width: 95%;
  }
}
@media (max-width: 767px) {
.booking-info {
    flex-direction: column;
  }
  .booking-info iframe {
    margin: 0 auto;
    width: 99%;
    margin-bottom: 30px;
  }
  .booking-info form {
    width: 95%;
  }
}
.btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.btn button {
  width: 70px;
  background: rgba(0, 0, 0, 0.35);
  color: #fff;
  border-radius: 3px;
  margin-left: 11px;
}
.btn button.submit {
  background: #f56c23;
}
.btn button.submit:hover {
  background: #e96925;
}

/* cartpage.html */
.container-cart {
  display: flex;
  padding: 50px 4.1%;
}
.aside {
  width: 21%;
}
.aside h3 {
  font-size: 20px;
  margin-bottom: 16px;
}
.aside i {
  font-size: 32px;
  margin-right: 15px;
}
.close-aside {
  display: none;
}
@media (max-width: 768px) {
  .container-cart {
    padding: 50px 2%;
  }
  .aside i {
    font-size: 16px;
    margin-right: 2px;
  }
}
@media (max-width: 767px) {
  .container-cart {
    flex-direction: column;
    padding-top: 2px;
  }
  .aside {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0;
    bottom: 0px;
    width: 50%;
    background: #fafafa;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    transition: all 0.3s;
    z-index: 110;
  }
  .open-aside .aside-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    transition: all 0.3s;
  }
  .open-aside .aside {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  .close-aside {
    display: block;
  }
}
.menu-aside  li a {
  display: block;
  line-height: 32px;
  padding: 3px 5px;
  border-bottom: 1px solid #3d1011;
}
.menu-aside  li a:hover {
  background: #3d1011;
  color: #efe9e7;
}
.main-cart {
  width: 75%;
  margin-left: 3%;
}
.bar-cart {
  display: flex;
  justify-content: space-between;
  margin-bottom: 26px;
}
.bar-cart a.open {
  padding: 8px 0;
  display: none;
}
@media (max-width: 767px) {
  .main-cart {
    margin: 0 auto;
    width: 80%;
  }
  .bar-cart {
    margin-top: 20px;
    justify-content: space-around;
  }
  .bar-cart a.open {
    display: block;
  }
}
.search {
  width: 66.66%;
  white-space: nowrap;
}
.search input {
  width: 90%;
  height: 32px;
  background: rgba(0, 0, 0, 0);
  border: 2px solid #3d1011;
  border-radius: 0;
  outline: none;
}
.search input:focus {
  background: #fff;
}
.search button {
  width: 36px;
  height: 32px;
  background: #3d1011;
  color: #efe9e7;
  border: none;
  border-radius: 0;
}
.search button:hover {
  padding-left: 10px;
}
@media (max-width: 767px) {
  .search input {
    width: 87%;
    margin-right: 0;
  }
  .search button {
    margin-left: 0;
  }
}
.cart {
  display: flex;
  align-items: center;
}
.cart li a {
  display: block;
  padding: 6px 12px;
}
.cart li a:hover {
  text-decoration: underline;
}
.cart li img {
  width: 27px;
  height: 29px;
}
.cart li:last-child a {
  position: relative;
}
.cart li i {
  color: #ff5145;
  position: absolute;
  right: 6px;
  top: 2px;
  border: 1px solid #efe9e7;
  border-radius: 50%;
}
.cart li div {
  width: 1.5px;
  height: 14px;
  background: #3d1101;
}
@media (max-width: 767px) {
  .cart {
    position: fixed;
    bottom: 20px;
    right: 15px;
    flex-direction: column;
    background: rgba(239, 233, 231, 0.7);
    border: 1px solid #3d1011;
    border-radius: 5px;
    z-index: 90;
  }
  .cart li a {
    padding: 10px 10px 5px 5px;
  }
  .cart .hide {
    display: none;
  }
}
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.products li {
  width: 31.3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
  box-shadow: 3px 3px 4px 0px rgba(0,0,0,0.16);
}
@media (max-width: 768px) {
  .products li {
    width: 47%;
  }  
}
.products li img {
  max-height: 120px;
}
@media (max-width: 767px) {
  .products li {
    width: 100%;
  }
}

/* 緞帶效果 */
.ribbon-wrap {
  position: absolute;
  height: 82px;
  top: -4px;
  right: -4px;
  overflow: hidden;
}
.ribbon {
  background: #0c9;
  font-size: 14px;
  padding: 4px 20PX;
  color: #fff;
  position: relative;
  transform: rotate(-315deg);
  top: 15px;
  right: -22px;
}
.ribbon::before {
  content: "";
  border-top: 7px solid #078f6d;
  border-right: 7px solid transparent;
  position: absolute;
  bottom: -7px;
  left: 0;
}
.ribbon::after {
  content: "";
  border-top: 7px solid #078f6d;
  border-left: 7px solid transparent;
  position: absolute;
  bottom: -7px;
  right: 0;
}
/* 加入收藏 */
.products li i {
  color: #fff;
  font-size: 22px;
  position: absolute;
  top: 9px;
  left: 9px;
}
.products li i:hover {
  background: url(../images/299063_heart_icon.svg) no-repeat;
}
.products li h3 {
  font-size: 20px;
  margin-top: 11px;
}
.products li h4 {
  font-size: 12px;
  line-height: 1.5em;
  margin-bottom: 8px;
}
.products .line {
  width: 40%;
  height: 1px;
  background: #3d1011;
  margin-bottom: 20px;
}
.products li p {
  font-size: 20px;
  margin-bottom: 16px;
}
.roboto {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.products li a:last-child {
  display: block;
  color: #ff5e45;
  text-align: center;
  width: 83%;
  padding: 4px;
  border: 2px solid #ff5e45;
  border-radius: 3px;
  margin-bottom: 9px;
}
.products li a:last-child:hover {
  background: #ff5e45;
  color: #efe9e7;
}
.products li a span {
  margin-right: 9px;
}
@media (max-width: 767px) {
  .products .line {
    display: none;
  }
  .products li a:last-child {
    padding: 8px;
  }
}

/* login.html */
.login {
  margin: 0 auto;
  max-width: 300px;
  text-align: center;
}
.login h2 {
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 5px;
}
.login h4 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 35px;
}
.login form {
  display: flex;
  flex-direction: column;
  align-items: start;
  border-top: 3px solid #e96925;
  box-shadow: 3px 3px 4px 0px rgba(0, 0, 0, 0.16);
  padding: 15px;
}
@media (max-width: 768px) {
  .login form {
    box-shadow: none;
  }
}
.login form h3 {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 16px;
  align-self: center;
}
.login form label {
  margin-bottom: 3px;
}
.login form a {
  font-size: 14px;
  color: #ff5e45;
  margin-top: 1px;
  margin-bottom: 30px;
}
.login form a:hover {
  text-decoration: underline;
}
.form-group {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  box-sizing: border-box;
  width: 100%;
  height: 32px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.form-group:hover {
  border: 1px solid #57a5ff;
}

.form-group label {
  color: rgba(61, 17, 1, 0.5);
  font-size: 12px;
  padding: 11px;
}
.form-group input {
  font-weight: 300;
  width: 90%;
  flex: 12;
  border: none;
  outline: none;
}
.btn-login {
  display: flex;
  justify-content: space-between;
}
.btn-login button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
  width: 46.2%;
  height: 32px;
}
.btn-login button:last-child {
  background: #f56c23;
}
.btn-login button:last-child:hover {
  background: #e96925;
}